/* App.css — LIFELINE-X user color palette */
.first-color { 
	background: #ADF7D1; 
}
	
.second-color { 
	background: #95E8D7; 
}

.third-color { 
	background: #7DACE4; 
}

.fourth-color { 
	background: #8971D0; 
}
